<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>

    <!-- Fonts -->
    <link
      href="https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap"
      rel="stylesheet"
    />

    <!-- Shared styles -->
    <link
      rel="stylesheet"
      href="https://chatappst.blob.core.windows.net/entraid/styles.css"
    />

    <style>
      /* Page-specific overrides */
      .login-container {
        align-items: center;
      }

      #api {
        max-width: 400px;
      }
    </style>
  </head>

  <body>
    <div class="logo-container">
      <img
        src="https://raw.githubusercontent.com/jacekcielecki/ChatApp/refs/heads/dev/deploy/logo.jpeg"
        alt="chatapp-logo"
      />
    </div>

    <div class="login-container">
      <div id="api"></div>
    </div>
  </body>
</html>
