@page "/"
@inject NavigationManager Navigation

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>
<button @onclick="@NavigateToDashboard">Dashboard</button>

Welcome to your new app.

@code {

    void NavigateToDashboard()
    {
        Navigation.NavigateTo("/dashboard");
    }
}